
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 20px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18BC9C;
  outline: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

header {
  text-align: center;
  background: #18BC9C;
  color: white;
}
header .container {
  padding-top: 50px;
  padding-bottom: 25px;
}

header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text  {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 120px;
    padding-bottom: 50px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text . {
    font-size: 1.75em;
  }
}



.navbar-custom {
  background: #2C3E50;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-logo {
  color: white;
}
.navbar-custom .navbar-logo:hover,
.navbar-custom .navbar-logo:focus,
.navbar-custom .navbar-logo:active,
.navbar-custom .navbar-logo.active {
  color: white;
  text-decoration:none;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-logo {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-logo {
    font-size: 1.5em;
  }
}



section {
  padding: 25px 0;
}


@media (max-width: 767px) {
  section {
    padding: 25px 0;
  }
}

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 25px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
